* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
  background-image: url('./images/warm.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: 0.5s ease-out;
}

.app.cold {
  background-image: url('./images/cold.png');
}

.app.hot {
  background-image: url('./images/hot.jpg');
}

main {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
  align-content: center;
}

.search-box .search-bar{
  display: block;
  width: 60%;
  padding: 15px;

  margin: 0 auto;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,0.75);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0,0,0,0.3);

  color: #313131;
  font-size: 18px;

  transition: 0.3s ease;
}

.search-box .search-bar:focus {
  border-color: black;
  border-width: 3px;
  border-style: solid;
  padding: 12px;
  transition: 0.1s ease;
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight:500;
  text-align: center;
  text-shadow: 3px 2px rgba(50,50,70,0.5);
}

.location-box .coords {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-shadow: 1px 1px rgba(50,50,70,0.5);
}

.weather-box {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  width: 60%;
  margin: 0 auto;
}

.weather-box .temp {
  position: relative;
  display: inline block;
  margin: 30px auto;
  background-color: rgba(255,255,255,0.2);
  border-radius: 16px;

  padding: 15px 20px;

  color: #FFF;
  font-size: 102px;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50,50,70,0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

.weather-box .time {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

#feels_like {
  color: #FFF;
  font-size: 40px;
  font-weight: 500;
}

/*
.flag-box {
  color: #FFF;
  position: relative;
  display: grid;
  margin-left: 80%;
}
*/